$body_background: rgb(18, 32, 47);
$ui_background: rgb(10, 14, 28);
$footer_background: rgb(0, 0, 0);

$default_color: rgb(255, 255, 255);
$default_color_hover: rgb(225, 225, 225);
$default_color_active: rgb(200, 200, 200);

$default-second_color: rgb(100, 100, 255);

$red_color: rgb(240, 30, 50);
$red_hover: rgb(210, 25, 40);
$red_active: rgb(180, 20, 30);

$ui_color: rgb(62, 95, 138);
$ui_color_hover: rgb(45, 70, 112);
$ui_color_active: rgb(37, 60, 104);

$input_background: rgb(37, 60, 104);
$input_placeholder: rgb(200, 200, 225);